dask-cuda
cellpose~=4.0.8
pip~=26.0.1
pillow~=12.1.0
tornado~=6.5.4
Jinja2~=3.1.6
setuptools~=80.3.1
packaging~=25.0
numpy~=2.2.6
zarr~=2.18.3
dask~=2025.9.1
scipy~=1.15.3
numcodecs~=0.13.1
fastapi~=0.127.0
psutil~=7.2.1
torch>=2.5.1
pandas~=2.3.3
starlette~=0.50.0
distributed~=2025.9.1
uvicorn~=0.40.0

